@keyframes blowYourEyes{
  0% {
    background-color: red;
    transform: rotate(0deg);
  }
  100% {
    background-color: yellow;
    transform: rotate(359deg);
  }
}

* {
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.search-section {
  width: 100%;
  align-self: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  margin-top: 20px;
}

.search-section .container {
  width: 50%;
  margin-right: 10px;
}

.search-section input[type="text"] {
  width: 100%;
  outline: none;
}

.pick-section {
  margin-top: 20px;
  width: 40%;
  align-self: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.pick-section label {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-family: 'Times New Roman', Times, serif;
}

.content {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

.entity {
  border: 1px solid black;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 5px;
  height: 100%;
}
